{% extends 'regist/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}<h1>Здесь будет регистрация</h1>

<label for="name_log"></label>
<input type="text" name="name" id="name_log">
<label for=""></label>
<input type="text" name="surname" id="surname_log">
<label for=""></label>
<input type="date" name="birthday" id="birthday_log">
<label for=""></label>
<input type="text" name="login" id="log_in">
<label for=""></label>
<input type="password" name="password" id="passwd">



{% endblock %}